[submodule "src/driver/lidar/Livox-SDK2"]
	path = src/driver/lidar/Livox-SDK2
	url = https://github.com/KeioRoboticsAssociation/Livox-SDK2.git
[submodule "src/driver/lidar/livox_ros_driver2"]
	path = src/driver/lidar/livox_ros_driver2
	url = https://github.com/KeioRoboticsAssociation/livox_ros_driver2.git
[submodule "src/detection/pcl_segmentation"]
	path = src/detection/pcl_segmentation
	url = https://github.com/IBO-ASV/pcl_segmentation.git
[submodule "src/driver/ins/ros2-driver"]
	path = src/driver/ins/ros2-driver
	url = https://github.com/advanced-navigation/ros2-driver.git
[submodule "src/driver/gnss/ntripcaster"]
	path = src/driver/gnss/ntripcaster
	url = https://github.com/IBO-ASV/ntripcaster.git
