<?xml version="1.0"?>

<robot name="stereolabs_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Keep compatibility with the existing launch command arguments. -->
  <xacro:arg name="camera_name" default="zed2i" />
  <xacro:arg name="camera_model" default="zed2i" />
  <xacro:arg name="base_frame" default="base_link" />
  <xacro:arg name="cam_pos_x" default="0.0" />
  <xacro:arg name="cam_pos_y" default="0.0" />
  <xacro:arg name="cam_pos_z" default="0.0" />
  <xacro:arg name="cam_roll" default="0.0" />
  <xacro:arg name="cam_pitch" default="0.0" />
  <xacro:arg name="cam_yaw" default="0.0" />

  <xacro:include filename="$(find zed_wrapper)/urdf/zed_macro.urdf.xacro" />

  <!-- Force zed2i_base_link to coincide with base_frame (0,0,0 / 0,0,0). -->
  <xacro:zed_camera
    name="$(arg camera_name)"
    model="$(arg camera_model)"
    parent="$(arg base_frame)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:zed_camera>

  <link name="$(arg base_frame)" />
</robot>
